.header {
  background-color: #31619c;
  background-image: gradient(
    linear, left top, left bottom,
    from( #3969a3 ),
    to( #21518c )
  );
}

.headerLabel {
  font: italic 15px 'Open Sans', sans-serif;
  text-shadow: 0 1px 5px #000;
  color: #eee;
}

.helpHeading {
  text-shadow: 0 1px 3px #aaa;
}

.transparent {
  background-color: transparent;
}

.floatingBox {
  border: none;
  border-radius : 3px;
  box-shadow: 0 3px 3px #000;
  background-color: rgb(184, 190, 204);
  background-image: gradient(
    linear, left top, left bottom,
    from( rgb(190, 200, 211) ),
    color-stop( 15%, rgb(184, 190, 204) ),
    to( rgb(164, 170, 184) )
  );
}

.floatingBox-inner {
  border: 1px solid rgb(184, 190, 204);
}

Button.helpButton {
  font: 14px 'Open Sans', sans-serif;
  border: none;
  text-shadow: 0 1px 5px #00f;
  text-decoration: underline;
  color: #eee;
}

Button.helpButton:hover {
  text-shadow: 0 1px 5px #fff;
}

.subheader {
  background-color: rgb(52, 51, 47);
  background-image: gradient(
    linear, left top, left bottom,
    from( rgb(62 , 61, 57) ),
    to( rgb(52, 51, 47) )
  );
}

Sash, Sash:hover {
  background-color: transparent;
}

Sash-Handle:horizontal, Sash-Handle:vertical {
  background-image: none;
}

Button[PUSH].vbar {
  background-image: gradient(
    linear, left top, right top,
    from( rgb(62 , 61, 57) ),
    to( rgb(52, 51, 47) )
  );
  border: none;
  border-radius: 0px;
  padding: 3px;
  animation: none;
  text-shadow: none;
  color: #eee;
}

Button[PUSH].helpClose {
  background-image: none;
  border: none;
  border-radius: 0px;
  padding: 0px;
  animation: none;
  text-shadow: none;
  background-color: transparent;
}

Button[PUSH]:hover.vbar {
  text-shadow: 0 1px 3px #fff;
}

Button-FocusIndicator[PUSH].vbar,
Button-FocusIndicator[PUSH].helpButton,
Button-FocusIndicator[PUSH].helpClose {
  background-color: transparent;
  border: none;
}

Composite.featuretree {
  background-color: rgb(62, 61, 57);
  background-image: gradient(
    linear, left top, left bottom,
    from( rgb( 92, 91, 87 ) ),
    color-stop( 85%, rgb( 112, 111, 107 ) ),
    to( rgb( 102, 101, 97 ) )
  );
}

ScrollBar {
  background-color: white;
  background-image: none;
  border: none;
  border-radius: 0;
  width: 5px;
}

ScrollBar-Thumb {
  background-color: #f0f0f0;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  min-height: 20px;
}

ScrollBar-UpButton,
ScrollBar-DownButton {
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: default;
  background-image: none;
}

ScrollBar-UpButton[HORIZONTAL],
ScrollBar-DownButton[HORIZONTAL],
ScrollBar-UpButton[VERTICAL],
ScrollBar-DownButton[VERTICAL] {
  background-image: none;
}

Tree-Cell {
  spacing: 2px;
  padding: 3px 2px 3px 2px;
}

Tree.featuretree {
  font: 12px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
  color: #eee;
  background-color: transparent;
  padding: 3px;
}

TreeItem.featuretree,
TreeItem.featuretree:hover:selected,
TreeItem.featuretree:hover:selected:unfocused {
  background-color: transparent;
  text-decoration: none;
  text-shadow: none;
}


TreeItem.featuretree:hover,
TreeItem.featuretree:hover:unfocused {
  background-color: transparent;
  text-decoration: none;
  text-shadow: 0 1px 5px #fff;
}

Tree-RowOverlay.featuretree:hover,
Tree-RowOverlay.featuretree:hover:unfocused {
  background-color: transparent;
  color: inherit;
  background-image: none;
}

Tree-RowOverlay.featuretree:selected,
Tree-RowOverlay.featuretree:selected:hover,
Tree-RowOverlay.featuretree:selected:unfocused,
Tree-RowOverlay.featuretree:selected:hover:unfocused {
  color: inherit;
  background-image: none;
  background-color: #31619c;
}

Shell.helpShell {
  background-color : transparent;
}

Composite.helpBox {
  background-color : white;
  border: 4px solid black;
  border-radius: 18px;
  box-shadow: 0 0 5px #000;
  padding: 0px;
}

Composite.infobox {
  background-color: #34332F;
  border-radius: 50px 50px 0 0;
}

Label.infobox {
  color: #e5e5e5;
}

Label.infobox-heading {
  font: 16px Helvetica, Verdana, sans-serif;
  color: #357cd4;
}

CTabFolder {
  border-color: rgb(184, 190, 204);
  border-radius: 3px;
}

CTabFolder.selected { /* the border color is used for CTabItem also */
  border-color: white;
}

CTabItem {
  font: 12px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
  color: #4a4a4a;
  background-color: transparent;
  background-image: none;
  padding: 6px;
  spacing: 5px;
  text-shadow: none;
}

CTabItem:selected {
  background-color: #ffffff;
}

